{% extends "layout.html" %}

{% block content %}
    <div class="navbar">
        <a href="{{ url_for('home')}}">Home</a>
        <a class="active" href="{{ url_for('account')}}">Account</a>
        <div class="navbar-topright">
            <a href="{{ url_for('logout')}}">Log out</a> 
        </div>
    </div>
    <div class="main">
        <div class="login-page" style="background-color: white;">
            <div class="login-module" style="background-color: #f2f2f2;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="{{ category }}">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div>
                            <h1 class="login-title">Currently signed in as {{ current_user.username }}</h1>
                        </div>
                        <div>
                            {{ form.current_password.label (class="password-label") }}
                            {% if form.current_password.errors %}
                                {{ form.current_password (class="password", autocomplete="off") }}
                            {% else %}
                                {{ form.current_password (class="password", autocomplete="off") }}
                            {% endif %}
                        </div>
                        <div>
                            {{ form.new_password.label (class="password-label") }}
                            {% if form.new_password.errors %}
                                {{ form.new_password (class="password", autocomplete="off") }}
                            {% else %}
                                {{ form.new_password (class="password", autocomplete="off") }}
                            {% endif %}
                        </div>
                        <div>
                            {{ form.confirm_password.label (class="password-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password (class="password", autocomplete="off") }}
                            {% else %}
                                {{ form.confirm_password (class="password", autocomplete="off") }}
                            {% endif %}
                        </div>
                        <div class="wrap">
                            {{ form.submit (class="btn") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}