<!DOCTYPE HTML>
<html>
<head>
    <title>Reset</title>
    <meta charset="utf-8">
    <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>
</html>

<body>
    <div class="login-page">
        <div class="login-module">
            <h1 id="login-title">Finance Dashboard</h1>
            <h3>Reset Password</h3>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.email.label (class="username-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="username", autocomplete="off") }}
                    {% else %}
                        {{ form.email(class="username", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="wrap">
                    {{ form.submit (class="btn") }}
                </div>
            </form>
            </div>
        </div>
    </div>
</body>