{extends "layout.html"}

{% block content %}
    <div class="login-page">
        <div class="login-module">
            <h1 id="login-title">Finance Dashboard</h1>
            <h3>Change Password</h3>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.password.label (class="password-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="password", autocomplete="off") }}
                    {% else %}
                        {{ form.password(class="password", autocomplete="off") }}
                    {% endif %}
                </div>
                <div>
                    {{ form.confirm_password.label (class="password-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="password", autocomplete="off") }}
                    {% else %}
                        {{ form.confirm_password(class="password", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="wrap">
                    {{ form.submit (class="btn") }}
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock content %}