{% extends "layout.html" %}

{% block content %}
    <div class="login-page">
        <div class="login-module">
            <h1 id="login-title">Finance Dashboard</h1>
            <h3>Reset Username</h3>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label (class="username-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="username", autocomplete="off") }}
                    {% else %}
                        {{ form.username(class="username", autocomplete="off") }}
                    {% endif %}
                </div>
                <div class="wrap">
                        {{ form.submit (class="btn") }}
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock content %}